*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: #222;
    overflow: hidden;
}
.content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content .text{
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    text-transform: uppercase;
    transform: scale(2);
    letter-spacing: 2px;
    padding: 30px;
}
.content .text::after,
.content .text::before{
    position: absolute;
    content:'';
}
